KERNEL_AUTH_PASSWORD=changeme
KERNEL_PROFILE_PASSWORD=changeme
KERNEL_STREAM_PASSWORD=changeme
KERNEL_FOLLOW_PASSWORD=changeme
KERNEL_VOD_PASSWORD=changeme
APP_ADMIN_PASSWORD=changeme
MIGRATOR_PASSWORD=changeme
